.pixelCanvas {
  display: flex;
  flex-direction: column;
  gap: 0px; 
}

.pixelRow {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.rowSideLabel {
  font-size: 0.75rem;
  min-width: 3rem;
  flex-shrink: 0;
}

.rowCells {
  display: grid;
  gap: 1px;
  flex: 1;
  max-width: 500px;
}

.pixelCell {
  aspect-ratio: 1 / 1;
  cursor: pointer;
  border: 1px solid #444;
}

.pixelRow.knitted .rowCells {
  opacity: 0.35;
}
